{% extends "base.html.twig" %}

    {% block stylesheets %}
        {{parent()}}
        <style>
            body {
                overflow: hidden;
            }
        </style>
    {% endblock %}

    {% block body %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}   
            <div id="mapid"></div>
        {% endif %}

    {% endblock %}

    {% block javascripts %}
        {{parent()}}
        
        <script src="{{ asset('js/map.js') }}"></script>

    {% endblock %}