{% extends "base.html.twig" %}

        {% block stylesheets %}
        {% endblock %}

        {% block body %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <h1 class="text-center">Bienvenue</h1>
            
        {% endif %}

        {% endblock %}

        {% block javascripts %}
        {% endblock %}

